* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

#site{
    /* Definimos a largura da página */
/*    width:1000px;
    /* Definirmos a altura da página*/
/*    height:700px;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
/*   margin-top:0;
    /* left: posição de esquerda*/
/*    margin-left:auto;
    /* bottom : posição de baixo */
/*    margin-bottom:0;
    /* right : posição de direita */
/*    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color:#666;
    }

#header{
    /*Novamente definimos a largura da div*/
 /*   width:1000px;
    /* altura da div */
 /*   height:100px;
    /* Cor de fundo da div */
    background-color:#00F;
    }

#conteudo{
    /*Novamente definimos a largura da div*/
    /* width:1000px;
    /* altura da div */
    /*height:500px;
    /* Cor de fundo da div */
    background-color:#0F0;
    
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    }

#footer{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:100px;
    /* Cor de fundo da div */
    background-color:#C3C;
    }

#conteudo-left{
        /*Novamente definimos a largura da div*/
        /*width:500px;
        /* altura da div */
        /*height:300px;
        /* O atributo Float é utilizado para fazermos o nosso bloco(div)
        literalmente flutue e se posicione onde queremos na página,
        quando escolhemos left, dizemos que esse bloco irá se posicionar na
        parte esquerda da página */
        float:left;
        /* Cor de fundo da div */
        background-color:#FF0;
    }

#conteudo-right{
        /*Novamente definimos a largura da div*/
        /*width:500px;
        /* altura da div */
        /*height:400px;
        /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco
        em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo
        em cascata, nossa div conteúdo definimos a largura de 1000px e na
        conteudo-left 500px, automaticamente ao definirmos o conteudo-right
        com 500px e à esquerda também, ele ficou à direita do conteudo-left,
        pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
        float:left;
        /* Cor de fundo da div */
        background-color:#F00;
    }
 
    .instagram-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    .instagram-phone img {
        height: 50rem;
    }
    
    .instagram-continue {
        display: flex;
        align-items: center; /* horizontal */
        justify-content: space-around; /* vertical */
        flex-direction: column;
        width: 50%;
        min-height: 34rem;
    }
    
    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        padding: 1.3rem 0;
        border: 1px solid lightgray;
    }
    
    .group:nth-child(1) {
        min-height: 19rem;
    }
    
    .instagram-logo {
        height: 3rem;
    }
    
    .profile-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .profile-photo img {
        height: 6rem;
    }
    
    .instagram-login {
        background-color: #0095f6;
        color: #ffffff;
        padding: 8px;
        border-radius: 4px;
    }
    
    .instagram-logout {
        color: #0095f6;
        margin-top: 1rem;
    }
    
    .not-account {
        color: rgb(160, 160, 160);
    }
    
    .link-blue {
        color: #0095f6;
    }
    
    .get-the-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1.3rem 0;
    }
    
    .download {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    
    .app-download {
        height: 3rem;
        width: 10rem;
        background-size: cover;
    }
    
    .app-download:nth-child(1) {
        background-image: url('./img/apple-button.png');
    }
    
    .app-download:nth-child(2) {
        background-image: url('./img/googleplay-button.png');
    }
    
    /* media queries */
    
    
    @media (max-width: 1024px) {
        .instagram-wrapper {
            width: 90%;
        }
    }
    
    @media (max-width: 650px) {
        body {
            background-color: #ffffff;
        }
    
        .instagram-wrapper {
            width: 90%;
        }
    
        .instagram-phone {
            display: none;
        }
    
        .instagram-continue {
            width: 100%;
        }
        
        .group {
            border: 1px solid transparent;
        }
    }